body {
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: #000000;
    background-image: url("website_background.jpg");
    background-color: #28A7DE;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 20px;}

a {
  color: #000000;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: transparent;
  color: #000000;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #000000;
}

.nav-link {
  border: 3px outset #28A7DE;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #28A7DE;
  color: #00000
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #000000;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #28A7DE;
  transition: 0.3s;
}

#btn {
  border: 3px outset #000000;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #28A7DE;
  color: #000000;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset #000000;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #28A7DE;
  color: #000000;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #28A7DE;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}
img.icon {
  height: 120px;
  width: 120px;
  object-fit: contain; 
  display: block;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around; 
  margin: 20px 0;
}

.col {
  flex: 1;
  text-align: center;
}
